.accounts-container {
    text-align: right;
}

.accounts-container .panel-block {
    justify-content:  space-between;
}

.panel-block.is-button {
    height: 46px;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    .panel-block.is-button:hover {
        background-color: whitesmoke;
    }
}

@media (prefers-color-scheme: dark) {
    .panel-block.is-button:hover {
        background-color: #363636;
    }
    .panel-block {
        border-top: 1px solid #363636 !important;
        border-bottom: 1px solid #363636 !important;
    }
}

.panel-block.is-loading {
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.panel-block:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

button.delete.remove-account {
    background-color: #f14668;
}

button.delete.remove-account:focus {
    outline: -webkit-focus-ring-color auto 1px;
}