.accounts-container {
    text-align: right;
}

.accounts-container .panel-block {
    justify-content:  space-between;
}

.panel-block.is-button {
    height: 46px;
    cursor: pointer;
}

.panel-block.is-button:hover {
    background-color: whitesmoke;
}

.panel-block.is-loading {
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

button.delete.remove-account {
    background-color: #f14668;
}

button.delete.remove-account:hover {
    background-color: #f03a5f !important;
}