.inputRegion {
    width: 100px;
}

div.select {
    width: 80px;
    display: block;
}

select {
    width: 100%;
}

.login-main.columns {
    max-height: 364px;
}

.accounts.column {
    overflow-y: auto;
}