html, body, #root, div.window {
  height: 100%
}

.app.container {
  padding: 20px;
  max-width: 350px;
  flex-grow: 0;
  margin: auto;
  overflow-y: scroll;
  position: relative;
  top: 22px;
  height: calc(100% - 22px);
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.window-titlebar {
  -webkit-app-region: drag;
  width: 100%;
  min-height: 22px;
  max-height: 22px;
  background-color: rebeccapurple;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.main-screen {
  margin: auto;
  height: 100%;
}

.main-screen > .columns {
  min-width: 600px;
}

.button.logout {
  float: right;
}

.store-container {
  margin-top: 10px;
}